# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.d
*.crf
*.__i
FinalProject.axf
FinalProject.htm
FinalProject.lnp
FinalProject.map
FinalProject.plg
FinalProject.tra
FinalProject.uvgui.student
FinalProject.uvgui_student.bak
FinalProject.uvopt
FinalProject_KeilDevBoard.dep
FinalProject_uvopt.bak
